/* yuji's search widget stuff
	
#pager li, .links li {
    list-style-type: none;
    display: inline;
}

*/

.advanced-view {
    display: block;
    /* display: none; */
}

/* List view results cannot be closed */
.view-wrap .kmaps-tt-header button.close{
    display: none;
    /* visibility: hidden; */
}
.view-wrap .kmaps-tt-header:first-of-type{
    position: relative;
    height: 60px !important;
    padding-top:1rem;
}

/*
.view-wrap .kmaps-tt-suggestion {
    padding: 0;
    margin: 8px 20px;
}
.view-wrap .kmaps-tt-suggestion .kmaps-term:hover {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}
*/



/* Typeahead KMaps: reset search button */
.input-section .kmap-typeahead-picker .searchreset {
    position: absolute;
    right: 3.5rem;
    top: 3.7rem;
}