/* yuji's search widget stuff
	
#pager li, .links li {
    list-style-type: none;
    display: inline;
}

*/

.advanced-view {
    display: block;
    /* display: none; */
}
.delete-me, .kmap-item {
    cursor:pointer;
}
.delete-me {
    padding: 0 5px 0 0;
}
.selected-kmap {
    float:left;
    color:green;
    border-radius:3px;
    border:1px solid gray;
    width:auto;
    padding:.25em .5em;
    margin:0 .25em .25em 0;
    background-color:white;
}

.kmap-filter label, .kmap-typeahead-picker label {
    font-weight: normal;
    padding-left: 1rem;
    text-transform: capitalize;
}

.kmap-filter label span, .kmap-typeahead-picker label span {
    font-weight: bold;
    text-transform: uppercase;
}

/* TAKEN FROM SARVAKA */
.selected-kmap {
    color: #555;
    font-size: 0.93em;
    font-family: 'museo-sans-500', helvetica, arial, sans-serif;
    border: none;
    padding: 0.3rem 0 0.3rem 0.8rem;
    background-color: transparent;
}

.selected-kmap:hover {
    color: #555;
    background-color: transparent;
}